<div class="container">

  <div class="row mt-4 mx-auto">

    <div class="col-8">

      <h5 class="text-center bg-light col-3">商品編集</h5>

    </div>

  </div>

  <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>

  <div class="row mt-5">

    <div class="col-3"></div>

    <p class="col-2">商品画像</p>

    <%= f.attachment_field :image,class:'col-4' %>

  </div>

  <div class="row mt-2">

    <div class="col-3"></div>

    <p class="col-2">商品名</p>

    <%= f.text_field :name,class:'form-control col-4',placeholder:'商品名' %>

  </div>

  <div class="row mt-2">

    <div class="col-3"></div>

    <p class="col-2">商品説明</p>

    <%= f.text_area :introduction,class:'form-control col-4',size: "40x6",placeholder:'ここに説明文を記述します' %>

  </div>

  <div class="row mt-2">

    <div class="col-3"></div>

    <p class="col-2">ジャンル</p>

    <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '選択してください'},{id: "genre_id",class: 'form-control col-4'} %>

  </div>

  <div class="row mt-2">

    <div class="col-3"></div>

    <p class="col-2">税抜価格</p>

    <%= f.text_field :price,class:'form-control col-4',placeholder:'1,000' %><p class="ml-1 mt-1">円</p>

  </div>

  <div class="row mt-2">

    <div class="col-3"></div>

    <p class="col-2">販売ステータス</p>

    <div class="col-4">

      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, "販売中" %>

      <%= f.radio_button :is_active, false,class:'ml-3' %>
      <%= f.label :is_active, "販売停止中" %>

    </div>

  </div>

  <div class="row mt-3 mb-5">

    <div class="col-6"></div>

    <%= f.submit '変更を保存',class:'btn btn-success col-2' %>

  </div>

  <% end %>

</div>