<div class="container">

  <div class="row mt-4 mx-auto">

    <div class="col-8">

      <h5 class="text-center bg-light col-3">商品編集</h5>

    </div>

  </div>

  <div class="row">

    <div class="col-6 mt-4 mx-auto">

      <table class="table table-borderless">

        <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>

        <tbody>

          <tr>

            <td>商品画像</td>

            <td><%= f.attachment_field :image %></td>

          </tr>

          <tr>

            <td>商品名</td>

            <td><%= f.text_field :name,class:'form-control',placeholder:'商品名' %></td>

          </tr>

          <tr>

            <td>商品説明</td>

            <td><%= f.text_area :introduction,class:'form-control',size: "40x6",placeholder:'ここに説明文を記述します' %></td>

          </tr>

          <tr>

            <td>ジャンル</td>

            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '選択してください'},{id: "genre_id",class: 'form-control'} %></td>

          </tr>

          <tr>

            <td>税抜価格</td>

            <td><%= f.text_field :price,class:'form-control',placeholder:'1,000' %></td>

          </tr>

          <tr>

            <td>販売ステータス</td>

            <td>

            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "販売中" %>

            <%= f.radio_button :is_active, false,class:'ml-3' %>
            <%= f.label :is_active, "販売停止中" %>

            </td>

          </tr>

          <tr class="text-center">

            <td><%= f.submit '変更を保存',class:'btn btn-success btn-lg' %></td>

          </tr>

        </tbody>

        <% end %>

      </table>

    </div>

  </div>

</div>