<div class="container">

  <div class="row mt-4 mb-3">

    <div class="col-1"></div>

    <h5 class="bg-light col-2 text-center">商品一覧</h5>

    <div class="col-7"></div>

    <div class="col-2">

      <%= link_to new_admin_item_path,method: :get,class:'btn btn-sm' do %>

        <i class="fas fa-plus-circle fa-2x"></i>

      <% end %>

    </div>

  </div>

  <div class="row">

    <div class="col-1"></div>

    <div class="col-10">

      <table class="table">

        <thead>

          <tr class="table-secondary">

            <th>商品ID</th>

            <th>商品名</th>

            <th>税抜価格</th>

            <th>ジャンル</th>

            <th>ステータス</th>

          </tr>

        </thead>

        <tbody>

          <% @items.each do |item| %>

            <tr>

              <th><%= item.id %></th>

              <th>
                <%= link_to admin_item_path(item.id),class:'text-dark border-bottom border-dark',method: :get do %>
                  <%= item.name %>
                <% end %>
              </th>

              <th><%= item.price.to_s(:delimited) %></th>

              <th><%= item.genre.name %></th>

              <th>
              <% if item.is_active == true %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-muted">販売停止中</p>
              <% end %>
              </th>

            </tr>

          <% end %>

        </tbody>

      </table>
     
    </div>

  </div>

  <div class="row mb-2">

    <div class="col-5"></div>

    <div class="col-3"><%= paginate @items %></div>

  </div>

</div>