<div class="container">

  <div class="row mt-4 mx-auto">

    <div class="col-8">

      <h5 class="bg-light col-3 text-center">商品一覧</h5>

    </div>

      <div class="col-2 text-end">

        <%= link_to new_admin_item_path,method: :get,class:'btn' do %>

          <i class="fas fa-plus-circle fa-2x"></i>

        <% end %>

      </div>

  </div>

  <div class="row">

    <div class="col-10">

      <table class="table">

        <thead>

          <tr class="table-secondary">

            <th>商品ID</th>

            <th>商品名</th>

            <th>税抜価格</th>

            <th>ジャンル</th>

            <th>ステータス</th>

          </tr>

        </thead>

        <tbody>

          <% @items.each do |item| %>

            <tr>

              <th><%= item.id %></th>

              <th>
                <%= link_to admin_item_path(item.id),method: :get do %>
                  <%= item.name %>
                <% end %>
              </th>

              <th><%= item.price %></th>

              <th>ジャンル</th>

              <th>販売中</th>

            </tr>

          <% end %>

        </tbody>

      </table>

      <div class="col-10 text-center"><%= paginate @items %></div>



    </div>

  </div>

</div>