<div class="container">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">

    <div class="col-11 mx-auto mt-5">

      <h5 class="text-center bg-light col-3">管理者ログイン</h5>

        <div class="text-center mt-5">

          <div class="form-grop row">

            <label for="emai" class="col-5">メールアドレス</label>

            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'col-6 form-control',placeholder:'sample@sample.com' %>

          </div>


          <div class="form-grop row mt-3">

            <label for="password" class="col-5">パスワード</label>

            <%= f.password_field :password, autocomplete: "current-password",class:'col-6 form-control' %>

          </div>

        </div>

      <%= render "admin/shared/links" %>

    </div>

  </div>

  <div class="row mb-5">

    <div class="col-5"></div>

    <div class="actions mt-5 d-grid gap-2 col-2">

      <%= f.submit "ログイン",class:'btn btn-primary btn-block' %>

    </div>

  </div>

  <% end %>

</div>
