<div class="container">

  <div class="row mt-4 mx-auto">

    <div class="col-8">

      <h5 class="bg-light col-7 text-center">
        <%= @customer.last_name %><%= @customer.first_name %> さんの会員情報編集
      </h5>

    </div>

  </div>

  <%= form_with model:@customer,url: admin_customer_path do |f| %>

  <div class="row mt-4">

    <p class="col-2 ml-4">会員ID</p>

    <div class="col-2">

      <%= @customer.id %>

    </div>

  </div>

  <div class="row">

    <p class="col-2 ml-4">氏名</p>

    <%= f.text_field:last_name,class:'col-3 form-control' %>

    <%= f.text_field:first_name,class:'col-3 form-control ml-5' %>

  </div>

  <div class="row mt-3">

    <p class="col-2 ml-4">フリガナ</p>

    <%= f.text_field:last_name_kana,class:'col-3 form-control' %>

    <%= f.text_field:first_name_kana,class:'col-3 form-control ml-5' %>

  </div>

  <div class="row mt-3">

    <p class="col-2 ml-4">郵便番号</p>

    <%= f.text_field:postal_code,class:'col-3 form-control' %>

  </div>

  <div class="row mt-3">

    <p class="col-2 ml-4">住所</p>

    <%= f.text_field:address,class:'col-7 form-control' %>

  </div>

  <div class="row mt-3">

    <p class="col-2 ml-4">電話番号</p>

    <%= f.text_field:telephone_number,class:'col-3 form-control' %>

  </div>

  <div class="row mt-3">

    <p class="col-2 ml-4">メールアドレス</p>

    <%= f.text_field:email,class:'col-3 form-control' %>

  </div>

  <div class="row mt-3">

    <p class="col-2 ml-4">会員ステータス</p>

    <div class="col-4">

      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, "有効" %>

      <%= f.radio_button :is_active, true,class:'ml-3' %>
      <%= f.label :is_active, "退会" %>

    </div>

  </div>

  <div class="row my-4">

    <div class="col-2 ml-4"></div>

    <%= f.submit "変更を保存",class:'btn btn-success col-2' %>

  </div>

  <% end %>

</div>