<div class="container">

  <div class="row">

    <div class="col-md-5 mx-auto text-center">

      <h1>会員詳細</h1>

      <table class="table table-bordered border-dark mt-5">

        <tbody>

          <tr>

            <th>姓カナ</th>

            <td><%= @customer.last_name_kana %></td>

          </tr>

          <tr>

            <th>名カナ</th>

            <td><%= @customer.first_name_kana %></td>

          </tr>

          <tr>

            <th>姓</th>

            <td><%= @customer.last_name %></td>

          </tr>

          <tr>

            <th>名</th>

            <td><%= @customer.first_name %></td>

          </tr>

          <tr>

            <th>メールアドレス</th>

            <td><%= @customer.email %></td>

          </tr>

          <tr>

            <th>電話番号</th>

            <td><%= @customer.telephone_number %></td>

          </tr>

          <tr>

            <th>郵便番号</th>

            <td><%= @customer.postal_code %></td>

          </tr>

          <tr>

            <th>住所</th>

            <td><%= @customer.address %></td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>