<h1>会員詳細</h1>

<h4>姓カナ</h4>
<%= @customer.last_name_kana %>

<h4>名 カナ</h4>
<%= @customer.first_name_kana %>

<h4>姓</h4>
<%= @customer.last_name %>

<h4>名</h4>
<%= @customer.first_name %>

<h4>メールアドレス</h4>
<%= @customer.email %>

<h4>電話番号</h4>
<%= @customer.telephone_number %>

<h4>郵便番号</h4>
<%= @customer.postal_code %>

<h4>住所</h4>
<%= @customer.address %>