<div class="container">

  <div class="row mt-4 mx-auto">

    <div class="col-12">

      <h5 class="bg-light col-3 text-center">ジャンル一覧・追加</h5>

    </div>

 </div>

  <div class="form-group row mt-5">

    <div class="col-2">

      <label for="genre">ジャンル名</label>

    </div>

    <div class="col-3">

      <%= form_with model: @genre,url: admin_genres_path do |f| %>

      <%=f.text_field:name,placeholder:'ジャンル名' %>

    </div>

    <div class="col-3">

      <%= f.submit '新規登録',class:'btn btn-success' %>

    </div>

    <% end %>

  </div>

  <div class="col-5 mt-4">

    <table class="table">

      <thead>

        <tr class="table-secondary">

          <th>ジャンル</th>

          <th colspan="3"></th>

        </tr>

      </thead>

      <tbody>

         <% @genres.each do |genre| %>

          <tr>

            <th><%= genre.name %></th>

            <th><%= link_to "編集する",edit_admin_genre_path(genre.id),class:'btn btn-success' %></th>

          </tr>

          <% end %>

        </tbody>

      </table>

  </div>

</div>