<div class="container">

  <div class="row mt-4">

    <div class="col-2"></div>

    <h5 class="text-center bg-light col-2">新規会員登録</h5>

  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row mt-5">

    <div class="col-1"></div>

    <p class="col-3">名前</p>

    <div class="col-4 form-inline">

      <%= f.label :last_name,"（姓）",class:'col-4' %>
      <%= f.text_field :last_name,placeholder:'令和',class:'form-control col-8' %>

    </div>

    <div class="col-4 form-inline">

      <%= f.label :first_name,"（名）",class:'col-4' %>
      <%= f.text_field :first_name,placeholder:'道子',class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">フリガナ</p>

    <div class="col-4 form-inline">

      <%= f.label :last_name_kana,"（セイ）",class:'col-4' %>
      <%= f.text_field :last_name_kana,placeholder:'レイワ',class:'form-control col-8' %>

    </div>

    <div class="col-4 form-inline">

      <%= f.label :first_name_kana,"（メイ）",class:'col-4' %>
      <%= f.text_field :first_name_kana,placeholder:'ミチコ',class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">メールアドレス</p>

    <div class="col-4 form-inline">

      <div class="col-4"></div>

      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:'sample@sample.com',class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">郵便番号(ハイフンなし)</p>

    <div class="col-4 form-inline">

      <div class="col-4"></div>

      <%= f.text_field :postal_code,placeholder:'0000000',class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">住所</p>

    <div class="col-8 form-inline">

      <div class="col-2"></div>

      <%= f.text_field :address,placeholder:'東京都渋谷区代々木町〇〇',class:'form-control col-10' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">電話番号</p>

    <div class="col-4 form-inline">

      <div class="col-4"></div>

      <%= f.text_field :telephone_number,placeholder:'00000000000',class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">パスワード(6文字以上)</p>

    <div class="col-4 form-inline">

      <div class="col-4"></div>

      <%= f.password_field :password, autocomplete: "new-password",class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-2">

    <div class="col-1"></div>

    <p class="col-3">パスワード(確認用)</p>

    <div class="col-4 form-inline">

      <div class="col-4"></div>

      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-4">

    <div class="col-4"></div>

    <div class="col-4 form-inline">

      <div class="col-4"></div>

      <%= f.submit "新規登録",class:'btn btn-success col-7 btn-block' %>

    </div>

  </div>

  <% end %>

  <div class="row mt-4">

    <div class="col-2"></div>

    <h5 class="text-center bg-light col-3">既に登録済みの方</h5>

  </div>

  <div class="row mt-2">

    <div class="col-3"></div>

    <p class="col-6"><%= render "public/shared/links" %>からログインしてください。</p>

  </div>

</div>
