<div class="container">

  <div class="row mt-4">

    <div class="col-1"></div>

    <h5 class="text-center bg-light col-2">ログイン</h5>

  </div>

  <div class="row mt-4">

    <div class="col-1"></div>

    <h7 class="text-center bg-light col-4 ml-3">会員の方はこちらからログイン</h7>

  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row mt-3">

    <div class="col-8 form-inline mx-auto">

      <%= f.label :email,"メールアドレス",class:'col-4' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control col-8',placeholder:'sample@sample.com' %>

    </div>

    <div class="col-8 form-inline mx-auto mt-3">

      <%= f.label :password,"パスワード",class:'col-4' %>
      <%= f.password_field :password, autocomplete: "current-password",class:'form-control col-8' %>

    </div>

  </div>

  <div class="row mt-5">

    <div class="col-3 mx-auto">

      <%= f.submit "ログイン",class:'btn btn-primary btn-block' %>

    </div>

  </div>

  <% end %>

  <div class="row mt-5">

    <div class="col-1"></div>

      <h7 class="text-center bg-light col-3 ml-3">会員登録がお済みではない方</h7>

  </div>

  <div class="row mt-3 mb-5">

    <div class="col-9 mx-auto">

      <p class="col-7 text-center"><%= render "public/shared/links" %>から新規登録を行ってください。</p>

    </div>

  </div>

</div>
